body {
  font-family: "Roboto", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
.Todo-wrapper {
  display: flex;
  justify-content: center;
  background-color: white;
  text-align: center;
}
.TodoDesk {
  display: flex;
  flex-direction: column;
  width: 450px;
}
.todo {
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 255, 0.1);
  border-radius: 7px;
  background-color: white;
  margin: 0 0 15px 0;
  padding: 10px;
  align-items: center;
}
.todoText {
  font-weight: bold;
  flex-grow: 1;
  max-width: 285px;
  word-wrap: break-word;
}
.inactiveTodo {
  color: darkgrey;
  text-decoration: line-through red;
  flex-grow: 1;
  white-space: normal;
  word-wrap: break-word;
}
.buttons {
  background-color: white;
  outline: none;
  flex-grow: 0;
  border: none;
}
.buttons:hover {
  cursor: pointer;
  outline: none;
  flex-grow: 0;
}
