.list-wrapper{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}
.list-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 500px;
    height: 400px;
    border-radius: 10px;
    background: deepskyblue;
    justify-content: space-between;
}

.list-title{
    margin: 13px;
    color: white;
}

.list-buttons{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.textArea{
    color: white;
    background: none ;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 4px 1px #1b68ee;
    height: 100px;
    /*max-height: 180px;*/
    width: 360px;
    /*max-width: 360px;*/
    font-size: 20px;
    padding: 5px;
    outline: none;
    resize: none;
}