.popup-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 450px;
  height: 350px;
  background-color: white;
  border-radius: 10px;
}
.Editor{
  margin: 10px;
}
.textarea{
  height: 100%;
  max-height: 200px;
  width: 100%;
  max-width: 360px;
  font-size: 20px;
  padding: 5px;
  outline: none;
  resize: none;
}
.popupBtn{
  display: flex;
  justify-content: space-around;
  margin: 20px;
}
